<!DOCTYPE html>
<html>
    <head>
        <title>SHREE DURGA EMPORIUM</title>
    </head>
    <body>
        <h1>Welcome to SDE</h1>
      <img src ="https://123d7f8f-005a-453d-a4c4-564bbbd02279-00-2w764b3tylev.pike.replit.dev/static/cover.png" width="400">
        <h2>About</h2>
        <p>The belief that customer satisfaction is as important as their products and services, have helped this establishment garner a vast base of customers, which continues to grow by the day. This business employs individuals that are dedicated towards their respective roles and put in a lot of effort to achieve the common vision and larger goals of the company. In the near future, this business aims to expand its line of products and services and caters to a larger client based.</p>
        <h2>Job openings</h2>
        <p>TODO : show jobs here</p>
      <button>Contact Us</button>
    </body>
</html>